* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-background-color: #f06;
  --heading-text-color: #333;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgb(0 0 0 / 0.1);
  --dark-blue: darkblue;
  --white: white;
  --black: #000;
  --gray: gray;
  --light-gray: #eee;
}

main {
  max-width: 840px;
}

nav {
  background-color: var(--dark-blue);
  padding: 10px;
}

nav a {
  color: var(--white);
  display: block;
  padding: 20px;
}

h1 {
  color: var(--dark-blue);
}

img {
  width: 150px;
  height: auto;
  border: 1px solid var(--black);
  padding: 2px;
  box-shadow: 0 0 30px var(--gray);
}

p {
  padding: 0;
}

main {
  max-width: 840px;
  padding: 10px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid var(--black);
  padding: 2px;
  box-shadow: 0 0 30px var(--gray);
  float: right;
}

aside {
  width: 20rem;
  text-align: center;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 20px;
  left: 110px;
  color: white;
  
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 10px;
  border-top: 1px solid var(--black);
  text-align: center;
}

/* Class selectors */
.box {
  margin: 1rem;
  padding: var(--padding);
  border: 1px solid rgb(0 0 0 / 0.2);
  background-color: var(--light-gray);
  color: var(--heading-text-color);

}